.chart {
    -fx-background-color: orange;
}

.chart-series-line {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
}

.chart-plot-background {
    -fx-background-color: orange;
}

.chart-legend {
    -fx-background-color: orange;
}

.chart-legend-item-symbol {
    -fx-background-insets: 0, 1;
    -fx-background-radius: 40px;
}

.chart-legend-item {
    -fx-text-fill: black;
}

.chart-plot-background {
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.chart-content {
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.chart-line-symbol {
    -fx-background-color: null;
}

