

.my-text {
    -fx-font-file: url('/target/classes/com/example/fonts/Post No Bills Colombo.ttf'); /* Specify the path to your font file */
    -fx-font-family: "Post No Bills Colombo";
    -fx-font-size: 20px;
    -fx-fill: #1E1E1E; /* Text color */
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}
